/* DEMO PURPOSES : NO FILE STRUCTURE */

@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

/* --- General Styling --- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.flex-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(86, 84, 81);
  color: rgb(243, 243, 243);
}

/* --- HEADER --- */
header .flex-container {
  justify-content: space-between;
  align-items: center;
}

header {
  background: rgba(255, 234, 218, 1);
  height: 25vh;
  position: relative;
}

#header__logo {
  background: url(/img/logo_150.png);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  position: absolute;
  left: 13vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#header__navbar .navbar {
  display: flex;
  position: absolute;
  left: 20vw;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

#header__navbar .navbar .nav-item {
  background: rgb(255, 248, 243);
  padding: 0 15px;
  border-left: 1px solid rgba(130, 126, 122, 1);
  width: 11vw;
  text-align: center;
  white-space: nowrap;
  transition: background-color 400ms ease;
}

#header__navbar .navbar .nav-item:not(.current):hover {
  background-color: rgba(100, 100, 100, 0.8);
}

#header__navbar .current {
  background-color: rgb(210, 213, 216) !important;
}

#header__navbar .navbar .nav-item .nav-item-link {
  font: normal normal bold 28px/1.4em "Mr De Haviland", cursive;
  color: #565451;
  display: inline-block;
  width: 100%;
  transition: color 400ms ease;
}

#header__navbar .navbar .nav-item .nav-item-link:not(.current):hover {
  color: white;
}

/* --- CAROUSEL --- */
.carousel {
  /* position: relative; */
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  position: relative;
  height: 100%;
  transition: transform 500ms ease-in-out;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: absolute;
  bottom: -8.5em;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__indicator {
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 10px;
  cursor: pointer;
}

.carousel__indicator.current {
  background-color: rgba(0, 0, 0, 0.75);
}

/* --- MAIN-CONTENT --- */
#main__section {
  background: rgb(213, 211, 209);
  height: 90vh;
}

#main__cards-list {
  height: 100%;
  width: 100%;
}

#main__section .flex-container {
  justify-content: center;
  align-items: center;
}

#main__section .main__card {
  background: white;
  height: 80%;
  margin: 0 8px;
  width: 25%;
}

#main__section .main__card.flex-container {
  flex-direction: column;
  justify-content: space-around;
}

#main__section img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

#main__section .main__card .card__title {
  font-family: "Mr De Haviland", cursive;
  margin: 0;
  font-size: 2.5em;
  font-weight: 400;
  color: #2b2a28;
  margin-top: 0.4em;
}

#main__section .main__card .card__text {
  text-align: center;
  padding: 0.1em 2.9em;
  color: #2b2a28;
  font-weight: 500;
  font-size: 0.85em;
  line-height: 1.4em;
  font: normal normal normal 13px/1.4em Signika, sans-serif;
}

#main__section .main__card .card__btn {
  padding: 0.65em 1.4em;
  font: normal normal normal 13px/1.4em Signika, sans-serif;
  margin-bottom: 1.6em;
  background-color: rgba(86, 84, 81, 1);
  border: solid rgba(153, 153, 153, 1) 1px;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s,
    color 0.4s ease 0s;
}

#main__section .main__card .card__btn:hover {
  background-color: rgba(213, 211, 209, 1);
  border-color: rgba(102, 102, 102, 1);
  color: #333333;
}

/* --- FOOTER --- */
#footer {
  background-color: rgb(153, 159, 166);
  color: white;
  height: 215px;
}

#footer .flex-container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

#footer h4,
p {
  margin: 0;
  padding: 0;
}

#footer__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#footer__info h4,
.footer__telephone {
  font-family: Signika;
  font-size: 29px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

#footer .copyright {
  font: normal normal normal 12px/1.4em Signika, sans-serif;
}

#footer .copyright a {
  color: white;
}

#footer__social {
  margin-top: 80px;
  font: normal normal normal 12px/1.4em Signika, sans-serif;
  margin-left: 40px;
}

#footer__social p {
  margin-bottom: 80px;
  font-size: 15px;
}

#footer__social i {
  padding: 5px;
}

#footer__gmaps {
  background: url(../img/gmaps.png);
  background-size: cover;
  height: 70%;
  width: 35%;
}

/* --- ROOMS --- */
#rooms__bg-image {
  background: url(../img/rooms-1.png);
  background-size: cover;
  background-position-y: bottom;
  height: 306px;
}

#rooms__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#rooms__header {
  margin-bottom: 40px;
}

#rooms__header h3 {
  margin: 0;
  padding: 20px 0;
  font-family: "Mr De Haviland", cursive;
  font-size: 4em;
  font-weight: 400;
  color: #444a51;
}

#rooms__header p {
  margin: 0;
  padding: 0;
  width: 75%;
  line-height: 1.5em;
  font-family: Signika, sans-serif;
}

/* --- ROOMS_CARDS --- */
main.rooms #main__cards-list {
  flex-direction: column;
}

main.rooms #main__section {
  height: auto;
}

main.rooms #main__cards-list .main__card {
  width: 100%;
  margin-bottom: 30px;
}

main.rooms #main__cards-list .main__card.flex-container {
  flex-direction: row;
}

main.rooms #main__cards-list .main__card img {
  width: 51%;
}

main.rooms #main__cards-list .card__body {
  padding: 0 20px;
  position: relative;
}

main.rooms #main__cards-list .card__body p {
  text-align: initial;
}

main.rooms #main__cards-list .card__body .btn {
  position: absolute;
  bottom: -45px;
  right: 15px;
  padding: 0.75em 2.3em;
}

main.rooms #main__cards-list .card__body .card__title {
  margin-top: -20px;
  font-size: 40px;
}

main.rooms #main__cards-list .card__body .card__header {
  font: normal normal normal 16px/1.4em Signika, sans-serif;
  line-height: 1.4em;
  color: #2b2a28;
  padding-bottom: 20px;
}

main.rooms #main__cards-list .card__body .card__text {
  padding: 0;
}

main.rooms #main__cards-list .card__body .card__text p.pricing {
  margin-top: 20px;
}

/* --- ACTIVITIES --- */
#activities__bg-image {
  background: url(../img/activities.png);
  background-size: cover;
  background-position-y: -125px;
  height: 306px;
}

#activities__grid {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#activities__grid .activity {
  width: 300px;
  height: 300px;
  background-color: red;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 920px) {
  #header__logo {
    display: none;
  }

  #header__navbar .navbar {
    width: 75%;
    margin: 0 auto;
    display: flex;
    left: auto;
  }

  #header__navbar .navbar .nav-item {
    width: 100%;
  }

  #header__navbar .navbar .nav-item .nav-item-link {
    width: 100%;
  }
}
