@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* --- General Styles --- */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Lato, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	overflow-x: hidden;
}

.v-header {
	height: 100vh;
	display: flex;
	align-items: center;
	color: white;
}

.container {
	max-width: 960px;
	padding: 0 1rem;
	margin: auto;
	text-align: center;
}

.fullscreen-video-wrap {
	position: absolute; 
	top: 0;
	left: 0;
	height: 100vh;
	overflow: hidden;
}

.header-overlay {
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: #225470;
	z-index: 1;
	opacity: .85;
}

.header-content {
	z-index: 2;
}

.header-content h1 {
	font-size: 50px;
	margin-bottom: 0;
}

.header-content p {
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
}

.btn {
	background-color: #34b3a0;
	color: white;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	text-decoration: none;
}

section {
	padding: 20px 0;
}

.section-b {
	background-color: #333;
	color: white;
}

@media(max-width:960px) {
	.container {
		padding: 0 3rem;
	}
}