/* --- General Style --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #333;
}

/* 
  Prevents weird stuff from happening
  (Overflowing on the right side)
*/
img {
  max-width: 100%;
}

.portfolio__item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio-lightbox img {
  width: 900px;
  height: 400px;
  object-fit: cover;
}

/* --- PORTOFLIO --- */
.portfolio {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  padding: 5em;
}

.portfolio__item {
  background: white;
}

.portfolio__desc {
  padding: 1.5em;
  display: grid;
  place-items: center;
}

.portfolio__title {
  font-size: 1.5em;
  margin-top: 0;
}

/* --- PORTFOLIO LIGHTBOX --- */
.portfolio-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: grid;
  place-items: center;
  transform: scale(0, 0);
  transition: transform ease-in-out 250ms;
}

.portfolio-lightbox:target {
  transform: scale(1, 1);
}

.portfolio-lightbox__content {
  width: 75%;
  background: black;
  padding: 1em;
  position: relative;
}

.close {
  position: absolute;
  width: 2em;
  height: 2em;
  background: red;
  top: -1em;
  right: -1em;
  border-radius: 50%;
  text-decoration: none;
  display: grid;
  place-items: center;
}

.close::after {
  content: "X";
  color: white;
  font-weight: 700;
}

.btn {
  text-decoration: none;
  font-family: fantasy;
  font-weight: 100;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 30px;
}